{
	"token": "your discord bot token (required)",
	"firebase_app": "your firebase app id (optional)",
	"firebase_token": "your firebase app token (optional)",
	"cloudboost_app": "your cloudboost app id (optional)",
	"cloudboost_token": "your cloudboost app token (optional)"
}